@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

:root {
    /* Try to use correct naming conventions. Variables in CSS are usually all lower */

    /*Primary*/
    /*accent*/
    --very-dark-magenta: hsl(300, 43%, 22%);
    /*accent*/
    --soft-pink: hsl(333, 80%, 67%);

    /*Neutral colors*/
    /*main heading*/
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    /*paragraph*/
    --light-grayish-magenta: hsl(300, 24%, 96%);
    /*White paragraphs*/
    --white: hsl(0, 0%, 100%);
    /*Backgroun*/
    --very-light-gray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* Setting the base font-size is done on the HTML element. It creates the base size for using relative to the base size font-size with rem or em. The benefit of using rem and em is you can make all text larger by changing the font-size in the HTML element. The default is 16 pixels. In this example from Front-end mentor, I think 15px is never used. All fonts are larger... So i dont get why the base should be set to 15px :) Maybe its just the exercise to set it on HTML */
    font-family: "League Spartan", sans-serif;
    height: 100vh;
    min-height: 100vh;
    font-size: 15px;
}

body {
    /* Try to keep as little CSS on body and html tags as possible. Only what is needed to be able to make the design work. */

    /* I prefer to do that on the elements itself so I dont have to reset it later when making changes for other device sizes */
    /* text-align: center;*/

    /* If you start with mobile first and the elements are stacked vertically, there is no need to add flexbox to the mobile. "Column" layout is the default behavior. You can add it to the elements that need it when you are making eg the desktop version
    display: flex;
    flex-direction: column; */

    /* Using this is better then text align center but I prefer to use it on the elements that need it.  */
    /*justify-content: center;
    align-items: center;*/
    height: 100vh;
    /* you can add height: 100vh here too to be able to center the content vertically */
    min-height: 100vh;

    /* I did not find the grey anywhere in the design but baybe I overlooked it */
    background-color: var(--very-light-gray);
}

.container {
    /* all flex definations are only needed in the desktop layout You can remove them for the mobile version 
  /* The container should not have a width, since flexbow will make it full width.
    width: 100%;*/

    /* This should be removed. It conflicts with the 100% above ;) 
    max-width: 375px;*/
    background-color: var(--White);

    /* Great! :) */
    background: url(./images/bg-pattern-top-mobile.svg) left top no-repeat,
        url(./images/bg-pattern-bottom-mobile.svg) right bottom no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
    text-align: center;
}

.rating {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    background-color: var(--light-grayish-magenta);
    border-radius: 10px;
    text-align: center;
    color: var(--very-dark-magenta);
    max-width: 350px;
    height: 50px;
    margin: 30px 30px 0px;
    padding: 20px;
}

span {
    letter-spacing: 5px;
}

#second,
#third {
    margin-top: 15px;
}

.card-section {
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;*/
    margin: 30px 30px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: var(--very-dark-magenta);
    border-radius: 10px;
    text-align: left;
    color: var(--White);
    max-width: 350px;
    min-height: 240px;
    padding: 40px;
}

.card-title {
    margin-bottom: 0%;
    padding-right: 10px;
    color: var(--white);
}

.card-subtitle {
    margin-left: 60px;
    margin-top: -40px;
    color: var(--soft-pink);
}

.card-para {
    margin: 0;
    color: var(--light-grayish-magenta);
}

img {
    border-radius: 50px;
    width: 40px;
    margin: 0 20px 20px 0;
}

h1 {
    color: var(--very-dark-magenta);
    font-weight: 700;
    font-size: 40px;
    margin: 40px 20px 20px;
}

p {
    color: var(--dark-grayish-magenta));
    line-height: 1.5;
    margin: 0 30px;
}

.rating-para {
    font-weight: 500;
    color: var(--very-dark-magenta);
}

footer {
    font-size: 11px;
    text-align: center;
}

footer,
a {
    color: var(--very-dark-magenta);
    text-decoration: none;
    font-weight: 400;
}

@media (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        max-width: 1200px;
        margin-bottom: 10px;
    }

    .top-section {
        text-align: left;
    }

    .rating-section {
        display: flex;
        flex-direction: row;
    }

    .card-section {
        display: flex;
        flex-direction: row;
    }
}